################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureFunctionsMemoryCache/.vs/AzureFunctionsMemoryCache
/AzureFunctionsDependencyInjection/.vs/AzureFunctionsDependencyInjection/v16
AzureFunctionsDependencyInjection/.vs/AzureFunctionsDependencyInjection/DesignTimeBuild/.dtbcache.v2
